body {
    margin: 0;
    overflow: hidden;
    background: #000;
    font-family: 'Segoe UI', sans-serif;
  }
  
  canvas {
    display: block;
    background: url("assets/backgrounds/bg.jpg") no-repeat center center;
    background-size: cover;
  }
  
  #login-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    padding: 10px 20px;
    background-color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
  }
  